<div class="container">
    <div class="square">
        <img src="https://scontent.fgye7-1.fna.fbcdn.net/v/t39.30808-6/307151460_1119435525633574_3759895812461720270_n.jpg?_nc_cat=104&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=3dKGvaGRWD4AX9HuWUZ&_nc_oc=AQm3JNE0F-_mUvnvK7MzXMEukPkNgSfofQsCRGu4k7wLgQ7qH62BeJvxqtMKPTCpBsE&_nc_ht=scontent.fgye7-1.fna&oh=00_AfBMe9fqJaTsfERoKT_eB-CPeDWXX5VZdrh_VM_P2vMpnA&oe=648B8527"
            width="50%" alt="Foto">
        <h1>Edward Vega</h1>
        <p>Naci el 19 de Junio del 2003<br>Mis padres son Xiomara Enriquez y Norman Vega<br>Tengo dos hermanos y una hermana.
            <br>Me gradue del Bachillerato en Ciencias Generales en el colegio de bachillerato Ismael Perez Pazmiño
            <br>Actualmente estoy cursando el 5to semestre de Tecnologias de la Información en la Universidad Tecnica de Machala
            <br>Intereses Actuales: Programación, Electronica, Base de Datos, Diseño Grafico.
            <br>Gustos Personales: Novelas Ligeras, Vocaloid, Anime/Manga, Dibujo, Acampar.</p>

    </div>
</div>